- title "History"

.block
  .secondary-navigation
    %ul
      %li.first.active= link_to 'List', recordings_path
    .clear
  .content
    %h2.title= yield(:title)
    .inner
      %ul#recordings.list
        = render :partial => 'recording', :collection => @recordings
    
      .actions-bar
        .actions
        = will_paginate @recordings
        .clear
  
/ - content_for :sidebar, render(:partial => 'sidebar')