ul.items {list-style-type:none;float:left;}
ul.items li {float: left; width:100px; margin:0 1.5em 1.5em 0; padding: 0.3em;text-align:center;border: 1px solid #CFCFCF; background: #EBEBEB; color: #333333; height: 115px;position:relative;}
ul.items li h5 {margin: 0 0 0.4em; background: #36393D none repeat scroll 0 0; color: #FFFFFF; font-weight: bold; display: block; font-size: 13px; padding: 3px;}
ul.items li.item h5 {cursor: move;}
ul.items li a.edit{position:absolute; left:0.4em;bottom:0.4em; text-indent:-99999px;height:16px;width:16px;}
ul.items li a.remove{position:absolute; right:0.4em;bottom:0.4em; text-indent:-99999px;height:16px;width:16px;}
ul.items li a.disc-edit{background-image:url(/images/disc--pencil.png);}
ul.items li a.disc-remove{background-image:url(/images/disc--minus.png);}
ul.items li form input{width: 90px;margin-top:0.4em;margin-bottom:0.4em;}
ul.items li form button{width: 100%;}

.seen {
	text-decoration: line-through;
}