/* Override here any style definide by web-app-theme */

/* flash-messages */

.flash .message p {
  font-size: 13px;
  line-height: 1.45em;
}

.table th {
  border-bottom: 3px solid #700000;
}

.table th a {
  color: white;
}
